mixin itemList(header, list)
  h1.list-header=header
  div.table-container
    table.table
      thead
        tr
          th.align-left Description
          th
      tbody
          each item in list
            tr
              td.align-left= item.description
              td
                div.actions
                  a(href=`/item/delete/${item.id}` class="btn btn-danger" ) Delete
                  a(href=`item/edit/${item.id}`) Edit
                  if item.complete
                    a(href=`/item/incomplete/${item.id}`) Mark as Incomplete
                  else
                    a(href=`/item/complete/${item.id}`) Mark as Complete
